---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---
<img src="/images/nam_woodchop.jpg" alt="A young man chops firewood in an arid Namibian landscape" max-width="100%" height="auto" margin="0 auto">
<blockquote style="text-align: center; margin-bottom: 0;">"When people feel that conservation is something done <em>by</em> them and not <em>to</em> them, they are empowered."</blockquote>
<h4 style="text-align: center; margin-top: 1em">Lauren J. Scanlon and Christian A. Kull (2009)<a href="#footnote-1">[1]</a></h4>
<hr>

<h2>Research Statement</h2>
<p>I study the social and political outcomes of governance structure and institutional design in community-based natural resource management (CBNRM). Most of my research focuses on the relationship between participatory or collaborative forms of governance and social empowerment—the development of social capital and trust and their use toward the achievement of collective goals. As this agenda is preoccupied with institutions for collective action in the management of common pool resources, my research strongly engages the work of Elinor Ostrom and subsequent scholars seeking to understand how communities manage social-ecological systems.</p>

<p>I collaborate closely with my advisor, <a href="https://geog.ufl.edu/faculty/child/">Dr. Brian Child</a>, and our lab group at the University of Florida. My work contributes to a broader program seeking to utilize impact-oriented research on CBNRM governance and wildlife economics to guide implementation, reform, training, and capacity-building across southern Africa. More information about our group’s work can be found at the <a href="https://www.lifethroughwildlife.com/">LifeThroughWildlife website</a>.</p>

<h2>Areas of Interest</h2>
<p>Collaborative governance of natural resources, community-based natural resource management (CBNRM), biodiversity conservation, social-ecological systems, wildlife economics, southern Africa</p>

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<hr>

<p><a href="#footnote-1">[1]</a> Scanlon, L.J. and Kull C.A. (2009). Untangling the links between wildlife benefits and community-based conservation at Torra Conservancy, Namibia, <em>Development Southern Africa 26</em>(1), 75-93.</p>


